<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{%block fulltitle%}{% block title %}{% endblock %} - Hello Redis Tasks{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('.static', filename='style.css') }}" />
    {% block additionalstyles %}{% endblock %}
    {% block priorityscripts %}{% endblock %}
</head>
<body>
    <div class="page">
        <header>
            <h1>Hello Redis Tasks</h1>
        </header>
        
        <aside>
            <a href="http://github.com/joeyespo/hello-redis-tasks"><img id="github-banner" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"/></a>
        </aside>
        
        <div class="content-container">
            {% for message in get_flashed_messages() %}
            <div class="flashed-messages">
                <p class="flashed-message">{{ message }}</p>
            </div>
            {% endfor %}
            
            <div class="content">
            {% block content %}{% endblock %}
            </div>
            <div class="content-end"></div>
        </div>
    </div>
{% block additionalscripts %}{% endblock %}
</body>
</html>
