{% extends "base.html" %}

{% block title %}Processing{% endblock %}
{% block additionalscripts %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script>
    function poll_task() {
        $.getJSON("poll?tid={{ task_id }}", function(data) {
            if(data && data.ready !== undefined && data.ready !== null) {
                if(data.progress !== undefined)
                    $('#Progress').text(' (' + data.progress + ')');
                if(data.ready === true)
                    window.location.replace("results?tid={{ task_id }}");
            }
            else
                window.location.replace("/");
            window.setTimeout(poll_task, 500);
        }).error(function(error) {
            $('#Error').html(error.responseText);
            $('#ErrorContainer').css('visibility', 'visible').fadeIn();
            $('#ProgressContainer').hide();
        });
    }
    
    $(document).ready(function() {
        window.setTimeout(poll_task, 500);
    });
</script>
{% endblock %}

{% block content %}
<article>
    <p>
        <div id="ProgressContainer">
            <span class="processing-text">Processing. <span id="Progress">Please wait.</span></span>
            <img class="ajax-loader" src="{{ url_for('.static', filename='ajax-loader.gif') }}" alt="Pleast wait" width="16" height="16" />
            <br/>
        </div>
        <div id="ErrorContainer" class="error-message progress-error">
            <h1>There was a problem</h1>
            <div id="Error" class="error-text"></div>
        </div>
    </p>
</article>
{% endblock %}
